{% macro show_links(user) %}
<ul class="nav justify-content-center p-1">
  <li class="nav-item">
    <a
      class="nav-link active text-light"
      aria-current="page"
      href="{{url_for('index')}}"
      >Quiz App</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="{{url_for('login')}}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="{{url_for('register')}}">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="{{url_for('logout')}}">Logout</a>
  </li>

  {% if user %}
  <li class="nav-item">
    <a class="nav-link text-light" href="#">User : {{ user['name']}}</a>
  </li>
  {% endif %}
</ul>

{% endmacro %}
